<button class="btn btn-primary" onClick={{action "showModal"}}>
  Charge ${{order.total}}
</button>

{{#if showModal}}
  {{#modal-dialog
    onClose=(action (mut showModal) false)
    targetAttachment="center"
    translucentOverlay=true
  }}
    <div class="modal-header flex flex-row justify-between" data-test-payment-form>
      <p onClick={{action (mut showModal) false}}>Cancel</p>

      <h4 class="font-normal">Select payment Type</h4>

      <p></p>
    </div>

    <div class="modal-body">
      <div class="text-center">
        <p class="text-2xl">Total</p>
        <p class="text-2xl">${{order.total}}</p>
      </div>
      {{#unless currentPaymentMethod}}
        <div class="flex flex-row justify-center">
          {{#each paymentMethods as |paymentMethod|}}
            <div onClick={{action "setPaymentMethod" paymentMethod}}
              class="w-24 h-16 m-2 bg-white shadow-md rounded-lg flex justify-center items-center">
              {{paymentMethod.name}}
            </div>
          {{/each}}
        </div>
      {{/unless}}

      {{#if currentPaymentMethod}}
        <div class="flex flex-col justify-between h-full">
          {{#if (eq changeRequired 0)}}
            <div class="flex flex-row justify-center">
              <div>
                ${{input placeholder='Amount' value=paymentAmount
                         class="text-sm bg-grey-9 border-none p-1 mt-2"}}
                <button class="btn btn-primary" onClick={{perform submitPayment}}>Submit</button>
              </div>
            </div>
            <div class="flex flex-row justify-center">
              {{#each (array 5 10 20 50 100) as |cashAmount|}}
                <div onClick={{action "addToTotal" cashAmount}}
                  class="w-24 h-16 m-2 bg-white shadow-md rounded-lg flex justify-center items-center">
                  ${{cashAmount}}
                </div>
              {{/each}}

              <div onClick={{action "resetToTotal"}}
                class="w-48 h-16 m-2 bg-white shadow-md rounded-lg flex justify-center items-center">
                Full Amount ({{order.total}})
              </div>
            </div>
          {{else}}
            <div class="flex flex-col justify-center py-4">
              <span class="text-center">${{changeRequired}} change</span>
              <button class="btn btn-primary mx-auto" onClick={{action (mut showModal) false}}>Complete
              </button>
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>

  {{/modal-dialog}}
{{/if}}