<div class="flex flex-row justify-between py-4 border-b border-grey-9" onClick={{action (mut showModal) true}}>
  <div data-test-line-item>
    <img src={{lineItem.variant.images.firstObject.mini_url}} />
  </div>
  <span class="my-auto">{{lineItem.variant.name}} ({{lineItem.quantity}})</span>
  ${{lineItem.price}}
</div>

{{#if showModal}}
  {{#modal-dialog
    onClose=(action (mut showModal) false)
    targetAttachment="center"
    translucentOverlay=true
  }}
    <div class="modal-header flex flex-row justify-between">
      <p onClick={{action (mut showModal) false}}>Close</p>

      <h4 class="font-normal">{{lineItem.variant.name}}</h4>

      <p></p>
    </div>

    <div class="modal-body">
      <div class="flex flex-row justify-center">
        <div>
          {{input placeholder='Quantity' value=lineItem.quantity class="text-sm bg-grey-9 border-none p-1 mt-2"}}
          <button class="btn btn-primary" onClick={{perform updateQuantity}}>Submit</button>
        </div>
      </div>
    </div>

  {{/modal-dialog}}
{{/if}}