.btn {
  @apply block py-3 px-6 m-2 text-center rounded-lg no-underline min-w-default min-h-default;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  @apply bg-grey-7;
}

.btn-primary, .btn-secondary {
  @apply text-white min-w-24;
}

.btn-primary {
  @apply bg-blue-3;
}

.btn-primary:hover {
  @apply bg-blue-2;
}

.btn-secondary {
  @apply bg-grey-5;
}

.btn-secondary:hover {
  @apply bg-grey-4;
}

.btn-warning {
  @apply bg-grey-4 text-white;
}

.btn-warning:hover {
  @apply bg-red-3;
}

.btn-outline-dark {
  @apply border border-grey-4 bg-grey-10 rounded;
}

.btn-outline-dark:hover {
  @apply bg-grey-9;
}
