.form-field input {
  @apply border border-grey-6 rounded-lg p-2;
}

.form-field input:focus {
  outline: none;
}

.form-field input:disabled {
  @apply text-grey-8;
}

.form-field label {
  @apply uppercase text-grey-6;
}

.form-field {
  @apply flex flex-col py-2 mx-2 flex-grow;
}

.form-field label, .form-field legend {
  @apply py-2;
}

.form-field--has-errors label {
  @apply text-red-3;
}

.form-field--errors {
  @apply text-red-3;
}
