/* modal-structure start */
.ember-modal-dialog {
  z-index: 51;
  position: fixed;
}
.ember-modal-dialog.emd-in-place {
  position: static;
}

.ember-modal-wrapper.emd-static.emd-wrapper-target-attachment-center .ember-modal-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ember-modal-wrapper.emd-animatable.emd-wrapper-target-attachment-center {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ember-modal-wrapper.emd-animatable.emd-wrapper-target-attachment-center .ember-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ember-modal-wrapper.emd-animatable .ember-modal-dialog {
  position: relative;
}

.ember-modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

/* modal-structure end */

/* modal-appearnace start */

.ember-modal-dialog {
  background-color: #fff;
  box-shadow: 0 0 10px #222;
  overflow-y: scroll;
}

.fullscreen-modal {
  width: 100% !important;
  height: 100%;
}

.ember-modal-overlay.translucent {
  background-color: rgba(0, 0, 0, .57);
}

/* modal-appearance end */

.ember-modal-dialog {
  @apply border border-2 border-grey-1 bg-grey-10 rounded-lg w-2/3;
  height: 75%;
  @screen md {
    @apply w-2/5 h-auto;
  }
}

.ember-modal-dialog .modal-header {
  @apply border-b border-grey-5 p-4 bg-white;
}

.ember-modal-dialog .modal-footer {
  @apply border-t border-grey-5 p-4 bg-white;
}
