nav.top-nav {
  @apply flex flex-row justify-between bg-white border-t border-grey-8 px-2 fixed pin-b w-full;
}

nav.top-nav ul {
  @apply flex flex-row justify-around text-grey-5 list-reset py-4 w-full;
}

nav.top-nav ul li a {
  @apply no-underline px-2 text-grey-5 cursor-pointer;
}

nav.top-nav .nav-header {
  @apply text-grey-5 text-lg no-underline px-8 py-4;
}
