.table {
  @apply w-full shadow-md;
}

table.table thead tr th, table.table tbody tr td {
  @apply p-4;
}

table.table thead {
  @apply border-t border-b border-grey-5 bg-grey-10;
}

table.table thead th {
  @apply font-normal text-grey-5 uppercase text-left border-b border-grey-8;
}

table.table tbody tr td {
  @apply border-b border-grey-9;
}

.table tbody tr {
  @apply bg-white border-none;
}

table {
  @apply border-separate;
  border-spacing: 0;
}

table tr:first-child th:first-child {
  @apply rounded-tl-lg;
}

table tr:first-child th:last-child {
  @apply rounded-tr-lg;
}

table tr:last-child td:first-child {
  @apply rounded-bl-lg;
}

table tr:last-child td:last-child {
  @apply rounded-br-lg;
}
