@import 'tailwind.css';

html {
  font-size: 18px;
}

[role="main"] {
  bottom: 3rem;
}

.print-only {
  display: none !important;
}

@media print {
  .no-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }
}
