{{#if showModal}}
  {{#modal-dialog
    onClose=(action (mut showModal) false)
    targetAttachment="center"
    translucentOverlay=true
  }}
    <div class="modal-header flex flex-row justify-between" data-test-customer-select>
      <p onClick={{action (mut showModal) false}}>Close</p>

      <h4 class="font-normal">Select customer</h4>

      <p></p>
    </div>

    <div class="modal-body">
      {{#each filteredCustomers as |customer|}}
        <li class="p-2 border-b border-grey-9 h-16" onclick={{action "selectCustomer" customer}}>
          <div>
            <span>{{customer.billAddress.fullName}}</span>
          </div>
          <div class="text-sm text-grey-7 my-1">
            <span>{{customer.email}}</span>
          </div>
        </li>
      {{/each}}
    </div>

  {{/modal-dialog}}
{{/if}}