<div class="flex flex-row">
  <ul class="list-reset bg-white h-screen w-1/3 border-r border-grey-9">
    <li class="text-center p-2 border-b border-grey-9 flex flex-col h-16">
      <div class="flex flex-row justify-between">
        <CustomerForm @editCustomer={{false}} @states={{model.states}} @countries={{model.countries}} />
        <span>Customers</span>
        <span></span>
      </div>
      {{input placeholder='Search' value=search key-press=(perform this.searchCustomers)
              class="text-sm bg-grey-9 border-none p-1 mt-2"}}
    </li>
    {{#each filteredCustomers as |customer|}}
      <li class="p-2 border-b border-grey-9 h-16" onclick={{action "selectCustomer" customer}}>
        <div>
          <span>{{customer.billAddress.fullName}}</span>
        </div>
        <div class="text-sm text-grey-7 my-1">
          <span>{{customer.email}}</span>
        </div>
      </li>
    {{/each}}
  </ul>

  {{#if selectedCustomer}}
    <div class="w-2/3 h-screen">
      <div class="text-center p-2 border-b border-grey-9 bg-white h-16 flex justify-end">
        <CustomerForm @editCustomer={{true}} @customer={{selectedCustomer}} @states={{model.states}} @countries={{model.countries}} />
      </div>

      <div class="m-2">
        <h2 class="font-normal">{{selectedCustomer.billAddress.fullName}}</h2>

        <span class="text-sm text-grey-4 my-1">{{date-format selectedCustomer.createdAt
                                                             "DD MMM YYYY"}}</span><br>
        <span class="text-sm text-grey-4 my-1">Lives in {{selectedCustomer.billAddress.city}}</span>
      </div>


      <div class="bg-white p-2 mb-2 border-b border-grey-9">
        <h5 class="text-sm font-normal text-grey-7 mb-4">Address</h5>

        {{#if selectedCustomer.billAddress}}
          <span>{{selectedCustomer.billAddress.address1}}</span><br>
          <span>{{selectedCustomer.billAddress.city}}
            , {{selectedCustomer.billAddress.state.name}}, {{selectedCustomer.billAddress.zipcode}}</span>
        {{/if}}
      </div>

      <div class="bg-white mt-2 border-t border-grey-9 p-2">
        <h5 class="text-sm font-normal text-grey-7">Recent Orders</h5>

        {{#each selectedCustomer.orders as |order|}}
          <div class="flex flex-col justify-between py-4 border-b border-grey-9">
            <div class="flex flex-row justify-between text-sm text-grey-7 my-1">
              <span>{{date-format order.createdAt "D. MMM YYYY"}}</span>
              <span>{{date-format order.createdAt "HH:mma"}}</span>
            </div>
            <div class="flex flex-row justify-between">
              <span>#{{order.number}}</span>
              <span>${{order.total}}</span>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>