<div class="flex flex-row">
  <ul class="list-reset bg-white h-screen w-1/3 border-r border-grey-9 no-print">
    <li class="text-center p-2 border-b border-grey-9 flex flex-col h-16">
      Orders
      {{input placeholder='Search' value=search key-press=(perform this.searchOrders)
              class="text-sm bg-grey-9 border-none p-1 mt-2"}}
    </li>
    {{#each filteredOrders as |order|}}
      <li class="p-2 border-b border-grey-9 h-16" onclick={{action "selectOrder" order}}>
        <div class="flex flex-row justify-between text-sm text-grey-7 my-1">
          <span>{{order.email}}</span>
          <span>{{date-format order.createdAt "D. MMM YYYY HH:mma"}}</span>
        </div>
        <div class="flex flex-row justify-between">
          <span>#{{order.number}}</span>
          <span>${{order.total}}</span>
        </div>
      </li>
    {{/each}}
  </ul>

  {{#if selectedOrder}}
    <div class="w-2/3 h-screen no-print">
      <div class="text-center p-2 border-b border-grey-9 bg-white h-10">
        #{{selectedOrder.number}}
      </div>

      <div class="m-2">
        <span class="text-sm text-grey-4 my-1">{{date-format selectedOrder.createdAt
                                                             "D. MMM YYYY HH:mma"}}</span>
        <h2 class="font-normal my-1">${{selectedOrder.total}}</h2>
        <span class="text-sm text-grey-4 my-1">Receipt #{{selectedOrder.number}}</span>
      </div>


      <div class="bg-white p-2 mb-2 border-b border-grey-9">
        <h5 class="text-sm font-normal text-grey-7 mb-4">Customer</h5>

        {{#if selectedOrder.shipAddress}}
          <h4 class="font-normal">{{selectedOrder.shipAddress.fullName}}</h4>
          <span class="text-sm text-grey-7">{{selectedOrder.shipAddress.city}}
            , {{selectedOrder.shipAddress.country.name}}</span>
        {{/if}}
      </div>

      <div class="bg-white mt-2 border-t border-grey-9 p-2">
        <h5 class="text-sm font-normal text-grey-7">Items</h5>

        {{#each selectedOrder.lineItems as |lineItem|}}
          <div class="flex flex-row justify-between py-4 border-b border-grey-9">
            <div>
              <img src={{lineItem.variant.images.firstObject.mini_url}} />
              <span class="my-auto">{{lineItem.variant.name}} ({{lineItem.quantity}})</span>
            </div>
            ${{lineItem.price}}
          </div>
        {{/each}}

        {{#if (eq selectedOrder.shipmentState "shipped")}}
          <ReturnForm @order={{selectedOrder}} />
        {{/if}}
      </div>

      <div class="flex flex-row justify-center">
        <button class="btn btn-primary" onClick={{action "printReceipt"}}>Print Receipt</button>
      </div>

      <div class="bg-white mt-2 border-t border-grey-9 p-2">
        <h5 class="text-sm font-normal text-grey-7">Payment</h5>

        <div class="flex flex-col">
          <div class="flex flex-row justify-between my-1">
            <span>Subtotal</span>
            <span>{{selectedOrder.itemTotal}}</span>
          </div>
          <div class="flex flex-row justify-between my-1">
            <span>GST (10% included)</span> <span>{{selectedOrder.taxTotal}}</span>
          </div>
          <div class="flex flex-row justify-between my-1">
            <span>Total Paid</span> <span>{{selectedOrder.total}}</span>
          </div>
          <div class="flex flex-row justify-between my-1">
            <span>Net Payment</span> <span>{{selectedOrder.total}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="print-only text-center mx-4">
      <h2>Rebel Gun Works</h2>
      <p>1 Atherton Street</p>
      <p>Woollongabba, Queensland</p>
      <p>4102</p>
      <br>
      <p>TAX INVOICE</p>
      <br>
      <p class="font-bold">0733916744</p>
      <br>
      <div class="border-2 rounded-lg">
        <h3>Total</h3>
        <h2>${{selectedOrder.total}}</h2>
      </div>

      <br>
      <div class="flex flex-row justify-between border-b-2">
        <h4>Item</h4>
        <h4>Price</h4>
      </div>
      {{#each selectedOrder.lineItems as |lineItem|}}
        <div class="flex flex-row justify-between border-b border-dotted">
          <h4>
            {{lineItem.variant.name}}
            {{#if (gt lineItem.quantity 1)}}
              ({{lineItem.quantity}} @ {{lineItem.price}}
            {{/if}}
          </h4>
          <h4>${{lineItem.total}}</h4>
        </div>
      {{/each}}
      <p>SUBTOTAL ${{selectedOrder.itemTotal}}</p>
      <p>TAX (10%) ${{selectedOrder.taxTotal}}</p>
      <p class="border-b border-dotted">TOTAL ${{selectedOrder.total}}</p>
      <br>

      <p>Date: {{moment-format now 'D MMMM YYYY'}} at {{moment-format now  'h:mm a'}}</p>
      <p>Sold by: Store 0</p>
      <br>
      <p>To view our full terms and conditions, privacy policy and refund policy visit
        www.rebelgunworks.net</p>
      <br>
      <p>ABN: 94081310385</p>
      <p>Dealer's Licence: 50000288</p>
      <br>
      <p>BSB: 062948</p>
      <p>Account #: 12482988</p>
    </div>
  {{/if}}
</div>