<div class="flex flex-row h-full">
  <div class="flex flex-col w-2/3">
    <div class="text-center p-2 border-b border-grey-9 flex flex-col bg-white h-16 absolute pin-t pin-l pin-r-1/3">
      All Products
      {{input placeholder='Search' value=search key-press=(perform this.searchProducts)
              class="text-sm bg-grey-9 border-none p-1 mt-2"}}
    </div>

    <div
      class="flex flex-row justify-between flex-wrap p-4 overflow-y-scroll absolute pin-t-header w-2/3 scrolling-touch absolute pin-l pin-b">
      {{#each filteredProducts as |product|}}
        <div class="flex flex-col h-48 w-32 text-center m-1" onclick={{perform this.addToCart
                                                                               product}}>
          <div class="overflow-hidden w-32 h-32">
            <img class="w-32 h-32 border-b border-grey-9"
              src={{product.master.images.firstObject.product_url}} />
          </div>
          <span class="text-sm text-grey-2 mt-2">{{line-clamp text=product.name lines=2
                                                              showMoreButton=false}}</span>
          <span class="text-xs text-grey-6 mt-1">{{product.master.total_on_hand}} in stock</span>
        </div>
      {{/each}}

      {{infinity-loader infinityModel=model.products loadingText='loading' loadedText='loaded'}}
    </div>
  </div>

  <div class="w-1/3 border-l border-grey-9 absolute pin-t pin-r h-full scrolling-touch overflow-y-scroll">
    <div class="text-center bg-white p-2 border-b border-grey-9 flex flex-row justify-between h-16">
      <p></p>
      <p>Cart</p>
      <p onclick={{perform this.clearCart}}>{{fa-icon "trash" class="float-right"}}</p>
    </div>

    <div class="bg-white mt-2 border-t border-b border-grey-9 p-2" onClick={{action (mut showCustomerModal)
                                                                                    true}}>
      {{#if selectedCustomer}}
        <h2 class="font-normal">{{selectedCustomer.billAddress.fullName}}</h2>
        <p>{{selectedCustomer.email}}</p>
      {{else}}
        <h2>Select Customer</h2>
      {{/if}}
    </div>

    <div class="bg-white mt-2 border-t border-grey-9 p-2">
      {{#each model.order.lineItems as |lineItem|}}
        <LineItemList @lineItem={{lineItem}} />
      {{/each}}
    </div>

    {{#if model.order.lineItems}}
      <div class="bg-white mt-2 border-t border-grey-9 p-2">
        <div class="flex flex-col">
          <div class="flex flex-row justify-between my-1">
            <span>Subtotal</span>
            <span>${{model.order.total}}</span>
          </div>
          <div class="flex flex-row justify-between my-1">
            <span>GST (10% included)</span> <span>${{model.order.taxTotal}}</span>
          </div>
        </div>
      </div>

      <div class="flex flex-row justify-center">
        {{#if (gte model.order.totalPaid model.order.total)}}
          <button class="btn btn-primary" onClick={{perform finaliseOrder}}>
            Finalise Order
          </button>
        {{else}}
          <PaymentForm @paymentMethods={{model.paymentMethods}} @order={{model.order}} />
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>

<CustomerSelect @order={{model.order}} @filteredCustomers={{model.users}}
  @selectedCustomer={{selectedCustomer}} @showModal={{showCustomerModal}} />