<nav class="top-nav no-print">
  <ul>
    <li data-test-nav="checkout">
      {{#link-to 'products' class="px-12 py-4"}}
        {{fa-icon "shopping-cart"}}
        Checkout
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'orders' class="px-12 py-4"}}
        {{fa-icon "truck"}}
        Orders
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'customers' class="px-12 py-4"}}
        {{fa-icon "user"}}
        Customers
      {{/link-to}}
    </li>
  </ul>
</nav>