<div class="flex flex-row justify-center">
  <button class="btn btn-primary" data-test-return-button onClick={{action (mut showModal) true}}>Return</button>
</div>

{{#if showModal}}
  {{#modal-dialog
    onClose=(action (mut showModal) false)
    targetAttachment="center"
    translucentOverlay=true
  }}
    <div class="modal-header flex flex-row justify-between">
      <p onClick={{action (mut showModal) false}}>Cancel</p>

      <h4 clas="font-normal">Return items</h4>

      <p></p>
    </div>

    <div class="modal-body">
      {{#each order.lineItems as |lineItem|}}
        <div class="flex flex-row justify-between py-4 border-b border-grey-9">
          <div>
            <img src="{{lineItem.variant.images.firstObject.mini_url}}" />
            <span class="my-auto">{{lineItem.variant.name}} ({{lineItem.quantity}})</span>
          </div>
          ${{lineItem.price}}
        </div>
      {{/each}}

      <div class="flex flex-row justify-center">
        <button class="btn btn-primary" onClick={{perform returnItems}}>Submit</button>
      </div>
    </div>

  {{/modal-dialog}}

{{/if}}