{{#if editCustomer}}
  <button {{action "toggleModal"}} class="px-2 py-4">
    Edit
  </button>
{{else}}
  <button {{action "toggleModal"}} data-test-customer-form>
    {{fa-icon "plus"}}
  </button>
{{/if}}

{{#if isShowingModal}}
  {{#modal-dialog targetAttachment="center"
                  translucentOverlay=true
                  containerClass="w-2/3 border border-red modal-default"
  }}

    {{#form-for
      this.changeset
      submit=(action "submit")
      reset=(action "cancel")
    as |f|
    }}
      <div class="modal-header flex justify-between">
        {{f.reset "Cancel"
                  class="mr-2 w-32 h-12 uppercase"
        }}
        <h1 class="mb-2 uppercase text-red">{{if editCustomer 'Edit Customer' 'Add Customer'}}</h1>
        {{f.submit "Save"
                   pending="Saving..."
                   class="mr-2 w-32 h-12 uppercase"
                   data-test-sport-admin-form="submit"
        }}
      </div>

      <div class="p-4">
        {{f.text-field "email"}}
        <div class="flex flex-row justify-between">
          {{f.text-field "firstname"}}
          {{f.text-field "lastname"}}
        </div>
        {{f.text-field "phone"}}

        <h3>Billing Address</h3>
        <div class="flex flex-row justify-between">
          {{f.text-field "billAddress1" label="Address1"}}
          {{f.text-field "billAddress2" label="Address2"}}
        </div>
        <div class="flex flex-row justify-between">
          {{f.text-field "billCity" label="City"}}
          {{f.text-field "billZipcode" label="Postcode"}}
        </div>

        <div class="flex flex-row justify-between">
          <div class="form-field w-full">
            <label for="billCountry">Country</label>
            {{#power-select options=countries searchEnabled=false selected=changeset.billCountry
                            onchange=(action (mut changeset.billCountry)) as |country|}}
              {{country.name}}
            {{/power-select}}
          </div>
          <div class="form-field w-full">
            <label for="billState">State</label>
            {{#power-select options=states searchEnabled=false selected=changeset.billState
                            onchange=(action (mut changeset.billState)) as |state|}}
              {{state.name}}
            {{/power-select}}
          </div>
        </div>

        <h3>Shipping Address</h3>
        <div class="flex flex-row justify-between">
          {{f.text-field "shipAddress1" label="Address1"}}
          {{f.text-field "shipAddress2" label="Address2"}}
        </div>
        <div class="flex flex-row justify-between">
          {{f.text-field "shipCity" label="City"}}
          {{f.text-field "shipZipcode" label="Postcode"}}
        </div>
        <div class="flex flex-row justify-between">
          <div class="form-field w-full">
            <label for="shipCountry">Country</label>
            {{#power-select options=countries searchEnabled=false selected=changeset.shipCountry
                            onchange=(action (mut changeset.shipCountry)) as |country|}}
              {{country.name}}
            {{/power-select}}
          </div>
          <div class="form-field w-full">
            <label for="shipState">State</label>
            {{#power-select options=states searchEnabled=false selected=changeset.shipState
                            onchange=(action (mut changeset.shipState)) as |state|}}
              {{state.name}}
            {{/power-select}}
          </div>
        </div>
      </div>
    {{/form-for}}
  {{/modal-dialog}}
{{/if}}